<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    {% include 'admin/common/link.html' %}
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

    </style>
</head>
<body>
{% macro error(field) %}
    {% for errors in field.errors %}
            <span style="color:red">{{ errors }}</span>
    {% endfor %}
{% endmacro %}

<form action="" method="post" class="definewidth m20">
{{ form.csrf_token }}
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">{{ form.username.label }}</td>
        <td>{{ form.username() }}{{ error(form.username) }}</td>
    </tr>
    <tr>
        <td class="tableleft">{{ form.userpass.label() }}</td>
        <td>{{ form.userpass(required='True') }}{{ error(form.userpass) }}</td>
    </tr>
    <tr>
        <td class="tableleft">{{ form.passwordconfirm.label() }}</td>
        <td>{{ form.passwordconfirm(required='True') }}{{ error(form.passwordconfirm) }}</td>
    </tr>
    <tr>
        <td class="tableleft">{{ form.email.label() }}</td>
        <td>{{ form.email() }}{{ error(form.email) }}</td>
    </tr>
    <tr>
        <td class="tableleft">角色</td>
        <td>
            <input type="radio" name="role" value="0" required checked>普通用户
            <input type="radio" name="role" value="1" required>管理员
        </td>
    </tr>
    <tr>
        <td class="tableleft">激活状态</td>
        <td>
            <input type="radio" name="confirm" value="0" required checked>未激活
            <input type="radio" name="confirm" value="1" required>激活
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="{{ url_for('auser.index') }}";
		 });

    });
</script>